label {
  display: block;
}

.form-control {
  width: 25em;
  display: inline-block;
}

header {
  background: #d1d8f3;
  box-shadow: 8px 7px 7px -4px #888888;
}

@media screen and (max-width: 375px) {
  .form-control {
    width: 100%;
  }
}
