<div class="container">
  <div class="card p-3 mt-4">
    <div
      class="alert alert-primary mt-2 text-center"
      role="alert"
      *ngIf="isLoading"
    >
      Getting data, please wait...
    </div>
    <h5>{{ symbol }}</h5>
    <h2>{{ companyName }}</h2>
    <div class="d-flex justify-content-around mt-3">
      <div       
      class="alert alert-danger mt-2 text-center"
      role="alert"
      *ngIf="sentiments.length <= 0 && isLoading === false">
        <h4>Woops! something happened, there's no info...</h4>
      </div>
      <div *ngFor="let sentiment of sentiments" class="month card flex-row p-3">
        <div class="flex-column">
          <p>
            <strong>{{ sentiment.month | numberToMonth }}</strong>
          </p>
          <p>
            <strong>Change:</strong> {{ sentiment.change | numberWithSign }}
          </p>
          <p><strong>mspr:</strong> {{ sentiment.mspr }}</p>
        </div>
        <div class="flex-column">
          <p class="arrow up m-0" *ngIf="sentiment.change > 0; else low">🡹</p>
          <ng-template #low><p class="arrow down m-0">🡻</p></ng-template>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary m-2" [routerLink]="['/']">
    Back to list of stocks
  </button>
</div>
